.angular-google-map-container {
  height: 600px;
}

.venue-container{
  width: 100%;
  height: 500px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;

  .single-venue{
    margin: 3px 0;
    min-height: 40px;
    .address{
      font-size: 1rem;
      color: grey;
    }
    &.active{
      background-color: #00897B;
      color: white;
      .address{
        color: white;
      }
    }

    .image-min{
      img{
        max-height: 40px;
        max-width: 100%;
      }
    }
  }

  .venue-container-header{
    position: absolute;
    top: 0;
    left: 0;
  }

}









.heart {
  background-color: grey;
  opacity: 0.5;
  display: inline-block;
  height: 15px;
  margin: 6px 5px 0 5px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 15px;
  &:before, &:after{
    content: "";
    background-color: grey;
    border-radius: 50%;
    height: 15px;
    position: absolute;
    width: 15px;
  }
  &:before{
    top: -7px;
    left: 0;
  }
  &:after{
    left: 7px;
    top: 0;
  }
  &.favourite{
    background-color: red;
    opacity: 1;
    &:before, &:after{
      background-color: red;
    }
  }
}


.spinner-container{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;

  .spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
  }

  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }

  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }

  @keyframes sk-bounce {
    0%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
      }
  }
}
