<div class="spinner-container" ng-show="vm.isLoading">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <ui-gmap-google-map
                    center="vm.map.center"
                    zoom="vm.map.zoom"
                    options="vm.map.options"
                    events="vm.map.events">
                <ui-gmap-marker ng-repeat="item in vm.data.spaces | filter : vm.data.search"
                        doCluster="vm.map.doCluster"
                        coords="{latitude: item.coordinate[0], longitude: item.coordinate[1]}"
                        idkey="item._id"
                        events="vm.map.marker.events">
                    <ui-gmap-window ng-cloak options="map.infoWindowWithCustomClass.options">
                        <p class="text-center">
                            <img class="img-rounded" ng-src="{{::item.main_photo.min_url}}"  err-src="http://wiki.archeagegame.com/images/9/9e/No-image-icon.png"><br/>
                            <strong>{{::item.name}}</strong><br/>
                            <span>{{::item.venue.address}}</span></p>
                    </ui-gmap-window>
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
        <div class="col-md-6">
            <div class="row">
                <form>
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               id="search-venue"
                               ng-model="vm.data.search"
                               ng-model-options="{ debounce: 250 }"
                               placeholder="enter something">
                    </div>
                </form>
            </div>

            <div class="row text-center">
                <div class="col-xs-1"></div>
                <div class="col-xs-7"><h4>venue</h4></div>
                <div class="col-xs-2"><p>price <br>hour/day</p></div>
                <div class="col-xs-2"></div>
            </div>

            <div class="venue-container">
                <div class="row single-venue" ng-repeat="item in vm.data.spaces | filter : vm.data.search" ng-class="item.active ? 'active' : ''">
                    <div class="col-xs-1">
                        <span class="heart" ng-class="item.is_favourited ? 'favourite' : ''"></span>
                    </div>
                    <div class="col-xs-7"><strong>{{::item.name}}</strong><br/>
                        <span class="address">address: {{::item.venue.address}}</span>
                    </div>
                    <div class="col-xs-2 text-center">
                        <span>{{item.price.hour ? item.price.hour : '-'}}/</span>
                        <span>{{item.price.day ? item.price.day : '-'}}</span>
                    </div>
                    <div class="col-xs-2 image-min">
                        <img class="img-rounded" ng-src="{{::item.main_photo.min_url}}" err-src="http://wiki.archeagegame.com/images/9/9e/No-image-icon.png">
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <p class="text-center"><span>on this site: <strong>{{vm.data.spaces.length}} places</strong> | site: <strong>{{vm.data.currentSiteNo}}  / {{vm.data.allSitesNumber}}</strong></p>
                <span><button class="btn btn-default"
                              type="button"
                              ng-show="vm.data.currentSiteNo > 1"
                              ng-click="vm.getSite(vm.data.currentSiteNo - 1)">prev</button></span>
                <span><button class="btn btn-default"
                              type="button"
                              ng-show="vm.data.currentSiteNo < vm.data.allSitesNumber"
                              ng-click="vm.getSite(vm.data.currentSiteNo + 1)">next</button></span>
            </div>
        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6mSIg7bdp6JCuOZ3JnFuq72YlWDwas2w&callback=initMap" async defer></script>

