/*
*   colors
*/

$pink: #b527c9;
$white: #ffffff;



/*
*   global
*/
h2 {
  color: $pink;
  font-size: 5rem;
  text-align: center;
}



/*
*   waves
*/
@mixin waves1(){
  width: 197px;
  height: 94px;
  //background-image: url('./image/waves1.png')
}